:root {
    --side-space: calc(100vw/12);
    --active-color: #FFAA00;
    --bright-color: #D9D9D9;
    --grey-color: #53535C;
    --gray-color: #848B99;
    --dark-color: #1D1D20;
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

.active-color {
    color: var(--active-color);
}

.bright-color {
    color: var(--bright-color);
}

.grey-color {
    color: var(--grey-color);
}

.gray-color {
    color: var(--gray-color);
}

.dark-color {
    color: var(--dark-color);
}

body {
    font-size: 120%;
    background-color: #E4E9F0;
    min-height: 100vh;
    color: var(--dark-color);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

body>.back {
    position: fixed;
    left: -10px;
    top: -10px;
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    background: #D4DCE8;
    opacity: .8;
    backdrop-filter: blur(5px);
    z-index: 0;
}

a {
    text-decoration: none;
    color: initial;
}

.w-full {
    width: 100%;
    width: -webkit-fill-available;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.flex-center-y {
    display: flex;
    align-items: center;
}

.f-2>* {
    width: 50%;
}

.checkbox1 input {
    position: relative;
    opacity: 1;
    -webkit-appearance: none;
    cursor: pointer;
    --size: 30px;
    height: var(--size);
    width: var(--size);
    box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5),
        10px 10px 15px rgba(70, 70, 70, 0.12),
        inset -10px -10px 15px rgba(255, 255, 255, 0.5),
        inset 10px 10px 15px rgba(70, 70, 70, 0.12);
    border-radius: 50%;
    border: .0001px solid transparent;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.checkbox1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5rem;
}

.checkbox1 input::after {
    transition: .5s;
    font-family: monospace;
    content: '';
    color: #f00;
    font-size: 25px;
    left: 0.45em;
    top: 0.25em;
    width: 0.15em;
    height: 0.3em;
    border: solid #f00;
    border-width: 0 0.15em 0.15em 0;
    transform: rotate(45deg);
}

.checkbox1 input:checked {
    box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5),
        10px 10px 15px rgba(0, 0, 70, 0.12);
    transition: .5s;
    border: 2px solid #12cf00;
}

.checkbox1 input:checked::after {
    transition: .5s;
    border: solid #12cf00;
    border-width: 0 0.15em 0.15em 0;
    transform: rotate(45deg);
}

header {
    position: absolute;
    width: 100%;
    z-index: 1;
}

ul#head {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    list-style: none;
}

ul#head li {
    color: var(--grey-color);
    width: 100px;
    text-align: center;
    margin: 0 .5rem;
    padding: .5rem 0;
    background-color: rgba(229, 239, 249, .7);
    backdrop-filter: blur(2px);
    box-shadow: 0 1px 5px rgba(0, 0, 0, .25);
    border-radius: 5px;
}

main {
    min-height: 80vh;
    position: relative;
}

main.index {
    text-align: center;
    padding: 1rem calc(var(--side-space) * 2.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section {
    padding: 0 var(--side-space);
    min-height: 50vh;
}

section.first {
    padding-top: 6rem;
}

main>section:last-of-type {
    padding-bottom: 5rem;
}

.button {
    padding: 1rem 3rem;
    border-radius: 100px;
    font-weight: bold;
    font-size: 110%;
}

.but1 {
    color: var(--bright-color);
    border: 5px solid transparent;
    background-color: var(--active-color);
}

.but2 {
    color: var(--active-color);
    border: 5px solid currentColor;
    background-color: transparent;
}

.head1 {
    color: var(--active-color);
}

.head1 span {
    color: var(--gray-color);
}

.grass-box {
    background-color: rgb(197 221 255 / 80%);
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, .25);
    border-radius: 10px;
    display: flow-root;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--grey-color);
    padding: 3rem 0;
    text-align: center;
    background-color: rgba(212, 220, 232, .8);
    backdrop-filter: blur(3px);
    position: relative;
}

.my-info {
    padding-left: 2rem;
}

.my-info,
.my-info * {
    color: var(--grey-color);
    fill: var(--grey-color);
}

.my-info>div {
    display: flex;
    gap: 4rem;
}

div.sign {
    margin: 0 auto;
    max-width: calc(700px - 12rem);
    padding: 0 6rem;
    color: var(--grey-color);
    contain: content;
}

div.sign .h {
    display: inline-block;
    margin: 2rem 0;
    color: var(--dark-color);
    text-align: center;
    width: 100%;
}

input {
    outline: none;
    font-size: 110%;
}

form.form1 {
    padding-top: 2rem;
    text-align: start;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 8rem;
    --space-in: 1rem;
}

form.form1 label {
    position: relative;
    display: flex;
    align-items: center;
}

form.form1 label.input {
    border-bottom: 2px solid currentColor;
}

form.form1 label.input>input {
    opacity: 0;
}

form.form1 label.input>span {
    position: absolute;
    left: var(--space-in);
}

form.form1 label.input>input:focus~span,
form.form1 label.input>input:valid~span {
    visibility: hidden;
}

form.form1 label.input>input:focus,
form.form1 label.input>input:valid {
    opacity: 1;
}

form.form1 input[type=text],
form.form1 input[type=password],
form.form1 input[type=email] {
    width: calc(100% - (var(--space-in) * 2));
    background-color: transparent;
    border: none;
    color: inherit;
    border-bottom: 2px solid transparent;
    padding: 0.5rem var(--space-in);
}

form.form1 button[type=submit] {
    padding: 0.5rem 0;
    border-radius: 10px;
    border: 1px solid transparent;
    background-color: var(--active-color);
    font-weight: bold;
    color: var(--bright-color);
    font-size: 110%;
    transition: .3s ease;
}

form.form1 button[type=submit]:hover {
    letter-spacing: 3px;
}

div.sign.signup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1000px;
    padding: 0;
}

.signup .left {
    flex: 1;
    background-color: #ADB5BB;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.signup .left svg {
    width: 95%;
    height: auto;
}

.signup form {
    margin-top: 4rem;
    width: calc(55% - 12rem);
    padding: 0 6rem;
}

.signup form.form1 button[type=submit] {
    width: 50%;
    min-width: 140px;
    border-radius: 100px;
}

.signup form.form1 button[type=submit]~span a {
    color: var(--active-color);
}

.blogs {
    padding: 1.5rem var(--side-space);
}

.blogs form.search {
    background-color: var(--gray-color);
    width: 500px;
    max-width: 100%;
    display: flex;
    contain: content;
    border-radius: 5px;
    padding-left: 0.5rem;
    margin-left: auto;
}

.blogs form.search * {
    background-color: transparent;
    border: 1px solid transparent;
    color: var(--bright-color);
    fill: var(--bright-color);
}

.blogs form.search button,
.blogs form.search label {
    display: flex;
    align-items: center;
}

.blogs form.search label input[name=search] {
    height: 100%;
}

.blogs form.search label span {
    position: absolute;
}

.blogs form.search label input[name=search]:valid~span,
.blogs form.search label input[name=search]:focus~span {
    visibility: hidden;
}

ul.bloglist {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    margin-bottom: 2rem;
}

ul.bloglist li {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

ul.bloglist li *:first-letter {
    text-transform: capitalize
}

ul.bloglist li .date {
    color: var(--gray-color);
    font-size: 90%;
}

.blogs .info,
.blogs .info>* {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.blogs .info {
    gap: 1.5vw;
    margin-top: .5rem;
}

.blogs .info>* {
    gap: .5vw;
}

.blogs .info * {
    color: var(--gray-color);
    fill: var(--gray-color);
}

.blogs img {
    border-radius: 5px;
}

.blogs.blog {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 3rem;
}

.blogs.blog *:first-letter {
    text-transform: capitalize
}

.blogs.blog .h {
    margin-bottom: 1rem;
}

.blogs.blog .body>p {
    margin-bottom: 1rem;
}

.dashboard {
    display: flex;
    flex-direction: row;
}

.dashboard nav {
    width: calc(var(--side-space) * 2 + 1.5rem);
    min-width: fit-content;
    height: fit-content;
    margin: 2rem 0;
    margin-right: -0.5rem;
    background-color: rgb(50 50 50 / 55%);
    color: var(--bright-color);
    font-weight: bold;
}

.dashboard nav>* {
    margin: 2rem;
}

.dashboard>div {
    flex: 1;
    padding: 2rem calc(var(--side-space) / 2);
    min-height: 51vh;
}

.dashboard>div>* {
    margin-bottom: 1rem;
}

.dashboard hr {
    background-color: var(--grey-color);
    border: none;
    height: 1px;
    margin-top: 0.5rem;
}

.dashboard .list.blog ul {
    list-style: none;
    padding: 0;
}

.dashboard .list.blog ul li {
    padding: 0.5rem 0 .5rem 1rem;
    border-left: .5rem solid transparent;
}

.dashboard .list.blog ul li:nth-child(odd) {
    background: linear-gradient(89deg, transparent, #0001, transparent);
}

.dashboard .list.blog ul li:nth-child(even) {
    background: linear-gradient(89deg, transparent, #6661, transparent);
}

.dashboard .list.blog ul li:hover {
    border-left-color: var(--grey-color);
}

.dashboard .list.blog ul li svg {
    margin-left: 2rem;
}

.dashboard .list.blog ul li svg,
.dashboard .list.blog ul li svg * {
    fill: var(--dark-color);
}

.form-image-1 {
    display: flex;
}

.form-image-1>* {
    display: flex;
    flex-direction: column;

}